<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <div th:insert="~{header :: header}"></div>

    <div class="main_contents">
      <div class="container_Form">
        <h2>コメント投稿</h2>
        <div
          th:replace="~{fragments/comment_form :: commentForm(@{/prototypes/{prototypeId}/comments/new(prototypeId=${prototype.id})})}">
        </div>
      </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>