<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <div th:insert="~{header :: header}"></div>

    <div class="main_contents">
      <div class="container_Form">
        <h2>コメント投稿</h2>
        <div
          th:replace="~{fragments/comment_form :: commentForm(@{/prototypes/{prototypeId}/comments/new(prototypeId=${prototype.id})})}">
        </div>
      </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>


  <script>
    function updateCharCount(max = 1000) {
      const content = document.getElementById('content');
      const charCount = document.getElementById('charCount');
      if (content && charCount) {
        charCount.textContent = content.value.length + ' / ' + max + ' 文字';
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      updateCharCount(1000);

      const content = document.getElementById('content');
      if (content) {
        content.addEventListener('input', function () {
          updateCharCount(1000);
        });
      }
    });
  </script>
  </body>

</html>