<div th:fragment="commentForm(actionUrl)">
  <form th:method="post" th:action="${actionUrl}" th:object="${commentForm}" enctype="multipart/form-data"
    class="new_user">

    <div class="field">
      <label class="column-title">コメントタイトル</label><br />
      <input th:field="*{title}" type="text" id="title" name="title" autofocus="autofocus" />
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>
    </div>

    <div class="field">
      <label class="column-content">コメント内容</label><br />
      <textarea rows="10"
                th:field="*{content}"
                class="longText"
                id="content"
                name="content"
                maxlength="1000" oninput="updateCharCount(1000)"></textarea>
      <div id="charCount">0 / 1000 文字</div>
      <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-message"></div>
    </div>

    <div class="actions">
      <input type="submit" value="保存する">
    </div>
  </form>
</div>