<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <!-- ヘッダー -->
    <div th:insert="~{header :: header}"></div>


    <div class="main_contents">
      <div class="user_contents">
        <h2 th:text="${name} + 'さんの情報'"></h2>

        <div class="proto-btns"
          th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.id == userId}">
          <div class="proto-btn">
            <a class="proto-btn-text" th:href="@{/users/{userId}/edit(userId = ${userId})}">編集する</a>
          </div>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th class="table_col1">名前</th>
              <td class="table_col2" th:text="${name}"></td>
            </tr>

            <tr>
              <th class="table_col1">プロフィール</th>
              <td class="table_col2" th:text="${profile}"></td>
            </tr>
          </tbody>
        </table>

        <h2 th:text="${name} + 'さんが「いいね」を押したプロトタイプ'"></h2>

        <form th:action="@{/users/{userId}/search(userId = ${userId})}" method="get" th:object="${searchForm}"
          class="user-search-form">
          <input type="text" th:field="*{name}" name="name" placeholder="投稿を検索する" class="search-input" />
          <input type="submit" class="search-btn" value="検索" />
        </form>

      </div>
      <div class="protos">
        <div class="proto" th:each="prototype : ${prototypes}">
          <a th:href="@{/prototypes/{prototypeId}(prototypeId = ${prototype.id})}">
            <img th:src="@{${prototype.image}}" alt="プロトタイプ画像">
          </a>

          <div class="proto-header">
            <a th:href="@{/prototypes/{prototypeId}(prototypeId = ${prototype.id})}">
              <h2 class="title" th:text="${prototype.name}" style="margin:0;"></h2>
            </a>
            <style>
              #like-section {
                text-align: right;
              }
            </style>
              <div id="like-section">
                <span 
                  id="like-btn" 
                  th:attr="data-prototypeid=${prototype.id}"
                  style="cursor:pointer; font-size:2em; color:red; transition:color 0.2s;">
                  ♥</span><span id="like-count"th:text="${prototype.count_likes}">0</span>
            </div>
          <script src="/js/like.js"></script>   

        </div>
        <p class="catchcopy" th:text="${prototype.catchphrase}"></p>
        <p class="author">
          <a th:href="@{'/users/' + ${prototype.user.id}}" th:text="'by ' + ${prototype.user.username}"></a>
        </p>
      </div>
    </div>
  </div>
  <script src="/js/likedPrototypes.js"></script>

  <!-- フッター -->
  <div th:insert="~{footer :: footer}"></div>

</body>

</html>