<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/prototype.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <div th:insert="~{header :: header}"></div>


    <div class="main_contents">
      <div class="user_contents">
        <h2 th:text="${name} + 'さんの情報'"></h2>

        <div class="proto-btns"
          th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.id == userId}">
          <div class="proto-btn">
            <a class="proto-btn-text" th:href="@{/users/{userId}/edit(userId = ${userId})}">編集する</a>
          </div>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th class="table_col1">名前</th>
              <td class="table_col2" th:text="${name}"></td>
            </tr>

            <tr>
              <th class="table_col1">プロフィール</th>
              <td class="table_col2" th:text="${profile}"></td>
            </tr>
          </tbody>
        </table>

        <h2 th:text="${name} + 'さんのプロトタイプ'"></h2>       
        <div th:replace="~{fragments/search_bar :: user_search_bar}"></div>
        <div th:replace="~{fragments/prototypes_view :: prototypes_view}"></div>
      </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>