<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/prototype.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <div th:insert="~{header :: header}"></div>


    <div class="main_contents">
      <div class="user_contents">
        <h2 th:text="${name} + 'さんの情報'"></h2>

        
        <table class="table">
          <tbody>
            <tr>
              <th class="table_col1">名前</th>
              <td class="table_col2" th:text="${name}"></td>
            </tr>
            
            <tr>
              <th class="table_col1">プロフィール</th>
              <td class="table_col2" th:text="${profile}"></td>
            </tr>
          </tbody>
        </table>
        
        <h2 th:text="${name} + 'さんのプロトタイプ'"></h2>
        
        <form th:action="@{/users/{userId}/search(userId = ${userId})}" method="get" th:object="${searchForm}"
          class="user-search-form">
          <input type="text" th:field="*{name}" name="name" placeholder="投稿を検索する" class="search-input" />
          <input type="submit" class="search-btn" value="検索" />
        </form>

        <div class="protos">
          <div class="proto" th:each="prototype : ${prototypes}">
            <a th:href="@{'/prototypes/' + ${prototype.id}}">
              <img th:src="@{${prototype.image}}" alt="プロトタイプ画像">
            </a>
            <h2 class="title" th:text="${prototype.name}"></h2>
            <p class="catchcopy" th:text="${prototype.catchphrase}"></p>
            <p class="author">
              <a th:href="@{'/users/' + ${prototype.user.id}}" th:text="${prototype.user.username}"></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>