<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="header">
  <div class="header-bar">
    <div class="header_logo">
      <h1 class="logo_top"><a th:href="@{/}">SHARE THE PROTOTYPE</a></h1>
      <h1 class="logo_bottom"><a th:href="@{/}">PRO<span class="text_blue">TO</span> SPACE</a></h1>
    </div>

    <div class="user-naves" th:if="${#authorization.expression('isAuthenticated()')}">
      <div class="user-nav">
        <a class="logout user-nav-text" th:href="@{/logout}">ログアウト</a>
      </div>
      <div class="user-nav">
        <a class="post user-nav-text" th:href="@{/prototypes/new}">New Proto</a>
      </div>
      <div class="user-profile-container">
        <a th:if="${#authentication.principal.user.id}" th:href="@{'/users/' + ${#authentication.principal.user.id}}">
          <img th:if="${#authentication.principal.user.profileImage} != null"
            th:src="@{${#authentication.principal.user.profileImage}}" alt="プロフィール画像" class="user-profile">
        </a>
      </div>
    </div>

    <div class="user-naves" th:if="${#authorization.expression('!isAuthenticated()')}">
      <div class="user-nav">
        <a class="login user-nav-text" th:href="@{/login}">ログイン</a>
      </div>
      <div class="user-nav">
        <a class="signUp user-nav-text" th:href="@{/users/sign_up}">新規登録</a>
      </div>
    </div>
  </div>
</header>