<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>
</head>

<body>

<!-- ヘッダー -->
<div th:insert="~{header :: header}"></div>
  
<div class="main_contents">
  <div class="proto-detail">
    <div class="proto_info">
      <h2 class="title" th:text="${prototype.name}"></h2>
      <!-- todo: ユーザーの詳細画面作成後 -->
      <!-- <a th:href="@{${users/{userId}(userId = ${prototype.user.id})}}">
        <p class="author" th:text="${prototype.user.username}"></p>
      </a> -->
      <div class="proto-btns">
        <!-- todo: 編集画面の作成後 -->
        <!-- <div class="proto-btn" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == ${prototype.user.id}}">
          <a class="edit proto-btn-text" th:href="@{/prototype/${prototype.id}/edit}">編集する</a>
        </div> -->
        <!-- todo: 削除画面の作成後 -->
        <div class="proto-btn" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.id == prototype.user.id}">
          <a class="delete proto-btn-text"
            th:href="@{/prototype/{prototypeId}/delete(prototypeId=${prototype.id})}">
            削除する
          </a>
        </div>
      </div>
      <img th:src="@{'/images/' + ${prototype.image}}" alt="プロトタイプ画像">
      <h2 class="sub-title" >キャッチコピー</h2>
      <p class="catchcopy" th:text="${prototype.catchphrase}"></p>
      <h2 class="sub-title">コンセプト</h2>
      <p class="concept" th:text="${prototype.concept}"></p>
    </div>
    <div class="container">
      <p>コメント</p>
      <!-- todo: コメント機能 -->
      <!-- th:action="@{/protos/{protoId}/comment(protoId=${proto.id})}" th:object="${commentForm}"
       th:field="*{text}" -->
      <form  method="post" >
        <textarea id="text"  rows="1"></textarea><br />
        <input type="submit" value="送信する">
      </form>
      <ul class="comments_lists">
        <li class="comments_list">
          <p>
            <span th:text="コメントが入るところです "></span>
            <a th:href="@{/users/1}" th:text="ユーザー名"></a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- フッター -->
<div th:insert="~{footer :: footer}"></div>

</body>
</html>
