<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/prototype.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.like-btn.not-logged-in').forEach(function(btn) {
        btn.addEventListener('click', function(e) {
          e.preventDefault();
          alert('ログインしてから、いいねを押してね！！');
          window.location.href = 'users/login';
        });
      });
    });
    </script>
    
  <body>

    <!-- ヘッダー -->
    <div th:insert="~{header :: header}"></div>


    <div class="main_contents">
      <div class="greeting">
        <form th:action="@{/prototypes/search}" method="get" th:object="${searchForm}" class="search-form">
          <input type="text" th:field="*{name}" name="name" placeholder="投稿を検索する" class="search-input" />
          <input type="submit" class="search-btn" value="検索" />
        </form>
      </div>

      <div th:replace="~{fragments/prototypes_view :: prototypes_view}"></div>
    </div>
    <script src="/js/like.js"></script>   
    <!-- <div th:insert="~{fragments/modal :: modal}"></div> -->

    <!-- フッター -->
    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>