<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>

    <!-- ヘッダー -->
    <div th:insert="~{header :: header}"></div>


    <div class="main_contents">
      <div class="greeting">
        <p>
          こんにちは
          <span th:if="${#authorization.expression('isAuthenticated()')}">
            、<a th:href="@{'/users/' + ${#authentication.principal.user.id}}"
              th:text="${#authentication.principal.user.username} + さん"></a>
          </span>
        </p>
        <div class="user-profile-container">
          <!-- todo: ログインユーザーの画像を適用する -->
          <img th:src="@{${profileImage}}" alt="プロフィール画像" class="user-profile">
        </div>

        <form th:action="@{/prototypes/search}" method="get" th:object="${searchForm}" class="search-form">
          <input type="text" th:field="*{name}" name="name" placeholder="投稿を検索する" class="search-input" />
          <input type="submit" class="search-btn" value="検索" />
        </form>

      </div>
      <div class="protos">
        <div class="proto" th:each="prototype : ${prototypes}">
          <a th:href="@{/prototypes/{prototypeId}(prototypeId = ${prototype.id})}">
            <img th:src="@{${prototype.image}}" alt="プロトタイプ画像">
          </a>
          <a th:href="@{/prototypes/{prototypeId}(prototypeId = ${prototype.id})}">
            <h2 class="title" th:text="${prototype.name}"></h2>
          </a>
          <p class="catchcopy" th:text="${prototype.catchphrase}"></p>
          <p class="author">
            <a th:href="@{'/users/' + ${prototype.user.id}}" th:text="'by ' + ${prototype.user.username}"></a>
          </p>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>