<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>
</head>

<body>

<!-- ヘッダー -->
<div th:insert="~{header :: header}"></div>

<div class="main_contents">
  <!-- todo: ログイン時に表示する画面
  - 認証の条件分岐
  - ユーザーのIDを取得して名前適用
  ユーザー挨拶
  <div class="greeting">
    <p>こんにちは、<a th:href="@{users/1}">テスト新井さん</a></p>
  </div> -->
  <div class="protos">
      <div class="proto" th:each="prototype : ${prototypes}">
        <a th:href="@{/prototypes/{prototypeId}(prototypeId = ${prototype.id})}">
          <img th:src="@{'/images/' + ${prototype.image}}" alt="プロトタイプ画像">
        </a>
        <h2 class="title" th:text="${prototype.name}"></h2>
        <p class="catchcopy" th:text="${prototype.catchphrase}"></p>
        <p class="author">
          <a th:href="@{'/users/' + ${prototype.user.id}}" th:text="${prototype.user.username}"></a>
        </p>
      </div>
  </div>
</div>

<!-- フッター -->
<div th:insert="~{footer :: footer}"></div>

</body>
</html>
